@import "variables";

$container-max-widths: (
   xs: 320px,
   sm: 540px,
   md: 720px,
   lg: 960px,
   xl: 1170px,
   xxl: 1320px,
) !default;

$container-max-widths: (
   xs: 320px,
   sm: 540px,
   md: 720px,
   lg: 960px,
   xl: 1170px,
   xxl: 1320px,
) !default;

$font-family-sans-serif: "Open Sans", sans-serif;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 1.75 !default;

/*nav custom*/
$navbar-nav-link-padding-x: 0.25rem !default;
$navbar-brand-font-size: 0.8125rem !default;
$nav-link-color: $White !default;
$nav-link-font-weight: 400 !default;
$nav-link-hover-color: $White !default;
/*end of nav custom*/

/*btn custom*/
$info: $White !default;
$btn-font-size: $font-size-base * 0.875 !default;
$btn-font-weight: 700 !default;
$btn-padding-x: 1.225rem !default;
$btn-padding-y: 0.275rem !default;
$btn-border-radius: 0.375rem !default;
$btn-border-width: 0rem !default;
/*end of btn custom*/
