$openSans: "Open Sans", sans-serif;

$SprinGreen: #0feb9e;
$AquaHaze: #f4f7f9;
$CaribbeanGreen: #10df96;
$BlackPearl: #062033;
$PictonBlue: #32b0ee;
$Geyser: #dce1e5;
$Niagara: #0eb493; 
$ChathamsBlue: #17526e;
$Loblolly: #c7ced3;
$JungleGreen: #27a284;
$SteelGray: #1f1d2e;
$White: #ffffff;